mixin speach()
	+b.speach&attributes(attributes)
		+e.in
			+e.w
				+e('h2').title Для тех кто решился

				+e('p').text Дорогие участники научно-приключенческого проекта «Отдых и учеба с радостью»! Мы рады приветствовать всех, кто принял решение провести свои летние каникулы не дома у экранов компьютера, а на берегу моря в кругу единомышленников!

				+e.photo
					+e.photo-body
						+e('img')(src='assets/images/content/prof.jpg' alt='')
					+e.photo-caption
						+e('span') Камнев <br/>Александр Николаевич
						+e.photo-text профессор, сотрудник <br/>Биологического факультета <br/>МГУ им. М.В. Ломоносова <br/>действительным членом РАЕН

				+e('p').text Наши детские лагеря – это наука и приключения исследование и путешествия, спорт и логика, творчество во всех его проявлениях, а главное - это гармоничное сочетание отдыха и учебы. Возможность за 21 день летний смены получить представление о том, что в обычной жизни для большинства не доступно. Вас ждет подводное плавание и скалолазание, парусная яхта и моторные катера, каноэ, байдарки, походы, стрельба из лука и арбалета, пейнтбол, занимательная наука во всех мыслимых ее проявлениях, музыкальные и лингвистические классы, гончарная и стекольная мастерские, своя кузня и столярная мастерская, лошади и коровы…… которых можно научиться доить и приготовить самостоятельно сыр и творог.

				+e('blockquote').blockquote <span>«Отдых и учеба с радостью» - это более чем 20 летний опыт работы в крупнейших детских центрах страны и за рубежом. За плечами – организация морских и экологических программ в ВДЦ «Орленок», ВДЦ «Океан», ФДЦ «Смена». А в предстоящем году – нашу программу и команду педагогов ждет легендарный МДЦ «Артек».</span>

				+e('p').text Наши лагеря посетили уже более 50 тысяч человек.



				+e('p').text Научное руководство лагерем осуществляется доктором биологических наук, профессором, сотрудником Биологического факультета МГУ им. М.В. Ломоносова действительным членом РАЕН, АПСН Камневым Александром Николаевичем.

				+e('p').text Наши педагоги – преподаватели и выпускники лучших вузов страны.

				+e('p').text Мы работаем круглый год с детьми и молодежью в Московских бассейнах и подмосковных лагерях, ведем занятия по дайвингу, стрельбе из лука, скалолазанию, биологии и иностранным языкам. Ждем всех желающих стать частью нашей активной и любознательной семьи!


