mixin know()
	+b.know&attributes(attributes)
		+e.in
			+e('h2').title А вы знаете ЧТО:
			+e('ul').list
				+e('li').item._1 <span>У нас отдохнуло более <br/>50 000 детей</span>
				+e('li').item._2 <span>Работаем в лучших <br/>традициях МГУ</span>
				+e('li').item._3 <span>Мы - лауреаты национальной <br/>российской премии <br/>"подводный мир"</span>
				+e('li').item._4 <span>Нас курирует Сенаторский клуб <br/>Совета Федерации РФ</span>
				+e('li').item._5 <span>Работаем при поддержке <br/>МОИП (Московское общество <br/>испытателей природы)</span>
				+e('li').item._6 <span>Более <br/>20 лет опыта</span>

