.know
	&__in
		padding-top 53px
		padding-bottom 37px
		@extend .in
		background-color #FFF
	&__title
		margin-bottom 109px
		color #005393
		font-calibri()
		set-font-size(33px)
		font-weight 400
		line-height 33px
		line-height remify(33px)
		text-transform uppercase
		text-align center
	&__list
		position relative
		margin-left -22px
		padding-left 62px
		padding-right 90px
		min-height 460px
		background url('../images/general/know.jpg') 50% 0 no-repeat
	&__item
		position absolute
		font-calibri()
		set-font-size(20px)
		font-weight 700
		line-height 22px
		color #c31d12
		&_1
			margin auto
			left 50%
			margin-top -54px
			margin-left -108px
			width 230px
			text-align center
		&_2
			top 38px
			right 142px
			width 200px
			text-align left
		&_3
			right 40px
			bottom 160px
			width 298px
			text-align left
		&_4
			bottom 20px
			right 330px
			width 318px
			text-align center
		&_5
			width 284px
			left 48px
			bottom 160px
			text-align right
		&_6
			top 38px
			left 194px
			width 148px
			text-align right





