.advantages
	&__in
		position relative
		padding-top 36px
		padding-bottom 52px
		@extend .in
		background-color #FFF
	&__title
		color #004f94
		set-font-size(33px)
		font-weight 700
		text-transform uppercase
		text-align center
	&__list
		position relative
		padding-left 100px
		padding-right 100px
		min-height 400px
	&__item
		position absolute
		text-align left
		&_1
			top 60px
			left 150px
			width 130px
		&_2
			bottom -5px
			left 150px
			width 136px

		&_3
			top 156px
			left 390px
			width 150px
		&_4
			top 33px
			right 152px
			width 200px

		&_5
			bottom -5px
			right 154px
			width 200px

	&__icon
		margin auto
		&_1
			margin-top -17px
			margin-left 23px
			margin-bottom 7px
			width 105px
			height 103px
			background url(../images/general/advant-1.jpg) no-repeat
		&_2
			width 112px
			height 104px
			background url(../images/general/advant-2.jpg) no-repeat
		&_3
			width 112px
			height 114px
			background url(../images/general/advant-3.jpg) no-repeat
		&_4
			width 122px
			height 122px
			background url(../images/general/advant-4.jpg) no-repeat
		&_5
			width 100px
			height 95px
			background url(../images/general/advant-5.jpg) no-repeat
	&__text
		font-size 25px
		font-weight 400
		color #004f94
		line-height 27px








