mixin advantages()
	+b.advantages&attributes(attributes)
		+e.in
			+e('h2').title Наши преимущества
			+e('ul').list
				+e('li').item._1
					+e.icon._1
					+e.text Собственный телеканал
				+e('li').item._2
					+e.icon._2
					+e.text Ежедневные фото отчеты
				+e('li').item._3
					+e.icon._3
					+e.text Видеоотчеты
				+e('li').item._4
					+e.icon._4
					+e.text Круглосуточная связь с ребенком
				+e('li').item._5
					+e.icon._5
					+e.text Накопительная система скидок

