mixin feedback()
	+b.feedback&attributes(attributes)
		+e.in
			+e('h2').title ОТЗЫВЫ:
			+e('ul').list
				+e('li').item
					+e.photo
						+e('img')(src='assets/images/content/user-1.jpg' alt='')
					+e.name Иваненко Иван Иванович
					+e.text Идейные соображения высшего порядка, а также постоянный количественный рост и сфера нашей активности обеспечивает широкому кругу (специалистов) участие в формировании систем массового участия.
				+e('li').item
					+e.photo
						+e('img')(src='assets/images/content/user-1.jpg' alt='')
					+e.name Иваненко Иван Иванович
					+e.text Идейные соображения высшего порядка, а также постоянный количественный рост и сфера нашей активности обеспечивает широкому кругу (специалистов) участие в формировании систем массового участия.
				+e('li').item
					+e.photo
						+e('img')(src='assets/images/content/user-1.jpg' alt='')
					+e.name Иваненко Иван Иванович
					+e.text Идейные соображения высшего порядка, а также постоянный количественный рост и сфера нашей активности обеспечивает широкому кругу (специалистов) участие в формировании систем массового участия.
				+e('li').item
					+e.photo
						+e('img')(src='assets/images/content/user-1.jpg' alt='')
					+e.name Иваненко Иван Иванович
					+e.text Идейные соображения высшего порядка, а также постоянный количественный рост и сфера нашей активности обеспечивает широкому кругу (специалистов) участие в формировании систем массового участия.
