mixin reason()
	+b.reason&attributes(attributes)
		+e.in
			+e('h2').title 6 причин поехать к нам:

			+e('ul').list
				+e("li").item._1 <span>21 специальность за 21 день</span>
				+e("li").item._2 <span>Преподаватели ведущих вузов страны</span>
				+e("li").item._3 <span>Сбалансированное питание по системе «Шведский стол»</span>
				+e("li").item._4 <span>Саноторно-оздоровительная программа</span>
				+e("li").item._5 <span>Уникальное расположение в заповеднике</span>
				+e("li").item._6 <span>От хобби к профессии</span>


