.reason
	&__in
		padding-top 70px
		padding-bottom 53px
		@extend .in
		background #fff
	&__title
		margin-bottom 86px
		color #005393
		font-calibri
		set-font-size(33px)
		font-weight 400
		text-transform uppercase
		text-align center
	&__list
		position relative
		margin-right 180px
		padding-left 103px
		padding-right 87px
		min-height 460px
		background url('../images/general/reasons.jpg') 50% 0 no-repeat
	&__item
		position absolute
		font-calibri()
		set-font-size(20px)
		line-height 22px
		line-height remify(22px)
		color #005393
		&_1
			top -10px
			left 260px
			width 160px
		&_2
			top -50px
			right 75px
			width 240px
		&_3
			top 208px
			right -138px
			width 280px
		&_4
			bottom 0px
			right 26px
			width 300px
		&_5
			bottom -6px
			left 118px
			width 260px
		&_6
			top 110px
			left 130px
			width 140px


