.topline
	position static
	top 0
	left 0
	right 0
	width 100%
	background-color #004f94
	z-index 10
	&__in
		@extends .in
		height 38px
		height remify(38px)
		border none
		box-shadow none
.main-nav
	&__list
		text-align center
	&__item
		margin-left 40px
		padding 10px 0 9px 0
		display inline-block
		font-calibri()
		set-font-size(20px)
		font-weight 400
		line-height 1
		text-shadow 1.1px 1.6px 1px rgba(0, 0, 0, .75)
		&:first-child
			margin-left 0
	&__link
		color #FFF
		text-decoration none
		&:hover
			text-decoration underline
