.whom
	&__in
		@extend .in
		padding-top 40px
		padding-bottom 45px
	&__title
		font-calibri
		set-font-size(33px)
		font-weight 400
		line-height 33px
		line-height remify(33px)
		text-transform uppercase
		text-align center
		color white
	&__list
		font-size 0
	&__item
		position relative
		width 300px
		display inline-block
		vertical-align top
		color white
		font-calibri
		set-font-size(25px)
		font-weight 400
		line-height 30px
		line-height remify(30px)
		text-align center
		span
			display block
		&_1
			span
				margin-top -42px
				margin-right -64px
		&_2
			span
				margin-top -22px
				margin-right -40px
		&_3
			span
				margin-top -22px
				margin-right -105px
	&__item-icon
		&_1
			margin-top -51px
			margin-left 43px
			bg($whom-1)
		&_2
			margin-top -32px
			margin-left -10px
			bg($whom-2)
		&_3
			margin-top -32px
			margin-left 70px
			bg($whom-3)









