.address
	&__in
		padding-top 50px
		padding-bottom 58px
		@extend .in
	&__title
		margin-bottom 20px
		set-font-size(33px)
		font-weight 700
		color #FFF
		text-align center
	&__maps
		padding-left 18px
		padding-right 18px
		clearfix()
	&__map
		position relative
		&_1
			float left
		&_2
			float right
	&__map-embed
		float left
		width 469px
		width remify(469px)
		height 262px
		height remify(262px)
		background-color #FFF
	&__map-desc
		position absolute
		bottom 0
		left 0
		right 0
		height 55px
		background-color white
	&__map-text
		padding 10px
		font-size 15px
		font-weight 400
		color #005393

