mixin crew()
	+b.crew&attributes(attributes)
		+e.in
			+e('h2').title НАША КОМАНДА
			+e.tabs
				+e.tabs-nav
					+e('a').tabs-link.active(href='#crew-tab-1') Администрация
					+e('a').tabs-link(href='#crew-tab-2') Педагогический состав
				+e.tabs-content.active#crew-tab-1
					+b.crew-slider
						+e('ul').list
							+e('li').item
								+e.image
									+e('img')(src='assets/images/content/crew-1.jpg' alt='')
								+e.caption
									+e.title Камнев Олег <br/>Александрович
									+e.text Основная цель моей жизни это, <br/>счастье. Именно поэтому <br/>я работаю с детьми !
							+e('li').item
								+e.image
									+e('img')(src='assets/images/content/crew-2.jpg' alt='')
								+e.caption
									+e.title Рыжкова <br/>Дарья Игоревна
									+e.text Основная цель моей жизни это, <br/>счастье. Именно поэтому <br/>я работаю с детьми !
							+e('li').item
								+e.image
									+e('img')(src='assets/images/content/crew-3.jpg' alt='')
								+e.caption
									+e.title Покаташкина <br/>Марина Владимировна
									+e.text Основная цель моей жизни это, <br/>счастье. Именно поэтому <br/>я работаю с детьми !
							+e('li').item
								+e.image
									+e('img')(src='assets/images/content/crew-1.jpg' alt='')
								+e.caption
									+e.title Камнев Олег <br/>Александрович
									+e.text Основная цель моей жизни это, <br/>счастье. Именно поэтому <br/>я работаю с детьми !
							+e('li').item
								+e.image
									+e('img')(src='assets/images/content/crew-2.jpg' alt='')
								+e.caption
									+e.title Рыжкова <br/>Дарья Игоревна
									+e.text Основная цель моей жизни это, <br/>счастье. Именно поэтому <br/>я работаю с детьми !
							+e('li').item
								+e.image
									+e('img')(src='assets/images/content/crew-3.jpg' alt='')
								+e.caption
									+e.title Покаташкина <br/>Марина Владимировна
									+e.text Основная цель моей жизни это, <br/>счастье. Именно поэтому <br/>я работаю с детьми !


				+e.tabs-content#crew-tab-2
					+b.crew-slider
						+e('ul').list._2
							+e('li').item
								+e.image
									+e('img')(src='assets/images/content/crew-1.jpg' alt='')
								+e.caption
									+e.title Камнев Олег <br/>Александрович
									+e.text Основная цель моей жизни это, <br/>счастье. Именно поэтому <br/>я работаю с детьми !
							+e('li').item
								+e.image
									+e('img')(src='assets/images/content/crew-2.jpg' alt='')
								+e.caption
									+e.title Рыжкова <br/>Дарья Игоревна
									+e.text Основная цель моей жизни это, <br/>счастье. Именно поэтому <br/>я работаю с детьми !
							+e('li').item
								+e.image
									+e('img')(src='assets/images/content/crew-3.jpg' alt='')
								+e.caption
									+e.title Покаташкина <br/>Марина Владимировна
									+e.text Основная цель моей жизни это, <br/>счастье. Именно поэтому <br/>я работаю с детьми !
							+e('li').item
								+e.image
									+e('img')(src='assets/images/content/crew-1.jpg' alt='')
								+e.caption
									+e.title Камнев Олег <br/>Александрович
									+e.text Основная цель моей жизни это, <br/>счастье. Именно поэтому <br/>я работаю с детьми !
							+e('li').item
								+e.image
									+e('img')(src='assets/images/content/crew-2.jpg' alt='')
								+e.caption
									+e.title Рыжкова <br/>Дарья Игоревна
									+e.text Основная цель моей жизни это, <br/>счастье. Именно поэтому <br/>я работаю с детьми !
							+e('li').item
								+e.image
									+e('img')(src='assets/images/content/crew-3.jpg' alt='')
								+e.caption
									+e.title Покаташкина <br/>Марина Владимировна
									+e.text Основная цель моей жизни это, <br/>счастье. Именно поэтому <br/>я работаю с детьми !
