.crew
	&__in
		padding-top 34px
		padding-bottom 23px
		@extend .in
		background-color #FFF
		clearfix()
	&__title
		margin-bottom 10px
		color #005393
		font-calibri
		set-font-size(33px)
		font-weight 700
		line-height 1
		text-align center

	&__tabs-nav
		margin-left -36px
		margin-bottom 28px
		clearfix()
		text-align center
	&__tabs-link
		margin-left 13px
		padding 1px 10px
		display inline-block
		vertical-align top
		background-color white
		font-calibri()
		font-weight 400
		line-height 1
		font-size 20px
		set-font-size(20px)
		color #005393
		text-decoration none
		border 2px solid #ffa200
		border-radius 12px
		&.active
			margin-left 8px
			padding 1px 14px 0px 8px
			background-color #ffa200
			color #FFF
			border-radius 12px
		&:first-child
			margin-left 0
	&__tabs-content
		display none
		min-height 300px
		&.active
			display block

.crew-slider
	position relative
	padding-right 60px
	padding-left 60px
	display block
	overflow hidden
	&__List
		clearfix()
	&__item
		padding-left 8px
		padding-right 8px
		float left
		width 276px
		&:first-child
			margin-left 0
	&__image
		margin-bottom 28px
		size 276px 358px
		img
			max-width 100%
			height 100%
	&__caption
		color #005494
		set-font-size(13px)
		font-weight 400
		text-align center
	&__title
		margin-bottom 12px
		set-font-size(16px)
		font-weight bold
		color #005494
.bx-controls
	position absolute
	top 33%
	left 0
	right 0
	a
		position absolute
		text-indent -9999px
.bx-prev
	top -4px
	left -50px
	bg($slider-back)
.bx-next
	top -4px
	right -50px
	bg($slider-next)



@css {
	.bx-wrapper {
		position: relative;
		margin: 0 auto 0;
		padding: 0;
		*zoom: 1;
		-ms-touch-action: pan-y;
		touch-action: pan-y;
	}
	.bx-wrapper img {
		max-width: 100%;
		display: block;
	}
	.bxslider {
		margin: 0;
		padding: 0;
	}
	ul.bxslider {
		list-style: none;
	}
	.bx-viewport {
		/*fix other elements on the page moving (on Chrome)*/
		-webkit-transform: translatez(0);
	}
	/** THEME
	===================================*/
}
