mixin program()
	+b.program&attributes(attributes)
		+e.in
			+e.list
				+e.item._1
					+e.icon
						+e.icon-w
					+e.title <span>Океания</span>
					+e.desc <span>морской научно-приключенческий <br/>лагерь</span>
				+e.item._2
					+e.icon
						+e.icon-w
					+e.title <span>Вождь краснокожих</span>
					+e.desc <span>этнокультурный приключенческий <br/>лагерь</span>
				+e.item._3
					+e.icon
						+e.icon-w
					+e.title <span>Jamaica</span>
					+e.desc <span>музыкальный лагерь</span>
				+e.item._4
					+e.icon
						+e.icon-w
					+e.title <span>Храброе сердце</span>
					+e.desc <span>приключенческий лагерь</span>
				+e.item._5
					+e.icon
						+e.icon-w
					+e.title <span>Самоделкино</span>
					+e.desc <span>творческий лагерь</span>
				+e.item._6
					+e.icon
						+e.icon-w
					+e.title <span>Lingvocamp</span>
					+e.desc <span>лингвистический лагерь</span>
