.program
	display block
	&__in
		padding-top 56px
		padding-bottom 58px
		@extend .in
		background-color #FFF
	&__list
		position relative
		left 4px
		margin auto
		width 708px
	&__item
		display table
		width 100%
		height 122px
		height remify(122px)
		table-layout fixed
		-moz-box-sizing border-box
		clearfix()
		&_1
			background-color #0A5591
			.program__icon-w
				margin-top 5px
				margin-left 4px
				bg($program-1)
		&_2
			background-color #e00b26
			.program__icon-w
				margin-top 6px
				margin-left 6px
				bg($program-2)
		&_3
			background-color #5f1b4a
			.program__icon-w
				margin-top 2px
				margin-left 8px
				bg($program-3)
		&_4
			background-color #2f5f40
			.program__icon-w
				margin-top 11px
				margin-left 1px
				bg($program-4)
		&_5
			background-color #da5431
			.program__icon-w
				margin-top 7px
				margin-left 2px
				bg($program-5)
		&_6
			background-color #f6c22d
			.program__icon-w
				margin-top 8px
				margin-left 18px
				bg($program-6)
	&__icon
		float left
	&__title
		float left
		display table
		width 226px
		height 122px
		min-height 122px
		text-align left
		color white
		font-calibri()
		set-font-size(30px)
		font-weight 400
		line-height 132px
		span
			padding-left 24px
			display table-cell
			vertical-align middle
			line-height 33px
			line-height remify(33px)
	&__desc
		float right
		display table
		width 350px
		height 122px
		min-height 122px
		text-align right
		color white
		font-calibri()
		set-font-size(20px)
		font-weight 400
		line-height 122px
		span
			padding-right 34px
			display table-cell
			vertical-align middle
			line-height 33px
			line-height remify(33px)





