mixin schedule()
	+b.schedule&attributes(attributes)
		+e.in
			+e.w
				+e('h2').title Расписание смен 2016 года
				+b.tabs
					+e('ul').nav
						+e('li').item.active
							+e('a')(href='#tab-1') <span>Океания</span>
						+e('li').item
							+e('a')(href='#tab-2') <span>Храброе <br/>Сердце</span>
						+e('li').item
							+e('a')(href='#tab-3') <span>Jamaica</span>
						+e('li').item
							+e('a')(href='#tab-4') <span>Вождь <br/>Краснокожих</span>
						+e('li').item
							+e('a')(href='#tab-5') <span>Самоделкино</span>
						+e('li').item
							+e('a')(href='#tab-6') <span>Lingvocamp</span>
					+e.content.active#tab-1
						+e.photo
							+e('img')(src='assets/images/content/schedule-photo.jpg' alt='')
							+e.badge отдохнуло 50 000 детей
							+e.photo-caption
								+e('h2').photo-title Научно приключенческий лагерь <span>"Океания"</span>
						+e.price
							+e.price-row
								+e.price-col <span>23 июня - 13 июля</span>
								+e.price-col <span>Цена: 61 800 руб</span>
							+e.price-row
								+e.price-col <span>15 июля - 4 августа</span>
								+e.price-col <span>Цена: 61 800 руб</span>
							+e.price-row
								+e.price-col <span>6 августа - 26 августа</span>
								+e.price-col <span>Цена: 61 800 руб</span>
						+e.discount
							+e.discount-text СКИДКА ДО 30%

							+e('a').discount-button(href='#') КАК ПОЛУЧИТЬ

					+e.content#tab-2
						+e.photo
							+e('img')(src='assets/images/content/schedule-photo.jpg' alt='')
							+e.badge отдохнуло 50 000 детей
							+e.photo-caption
								+e('h2').photo-title Научно приключенческий лагерь <span>"Океания"</span>
						+e.price
							+e.price-row
								+e.price-col <span>23 июня - 13 июля</span>
								+e.price-col <span>Цена: 61 800 руб</span>
							+e.price-row
								+e.price-col <span>15 июля - 4 августа</span>
								+e.price-col <span>Цена: 61 800 руб</span>
							+e.price-row
								+e.price-col <span>6 августа - 26 августа</span>
								+e.price-col <span>Цена: 61 800 руб</span>
						+e.discount
							+e.discount-text СКИДКА ДО 30%

							+e('a').discount-button(href='#') КАК ПОЛУЧИТЬ

					+e.content#tab-3
						+e.photo
							+e('img')(src='assets/images/content/schedule-photo.jpg' alt='')
							+e.badge отдохнуло 50 000 детей
							+e.photo-caption
								+e('h2').photo-title Научно приключенческий лагерь <span>"Океания"</span>
						+e.price
							+e.price-row
								+e.price-col <span>23 июня - 13 июля</span>
								+e.price-col <span>Цена: 61 800 руб</span>
							+e.price-row
								+e.price-col <span>15 июля - 4 августа</span>
								+e.price-col <span>Цена: 61 800 руб</span>
							+e.price-row
								+e.price-col <span>6 августа - 26 августа</span>
								+e.price-col <span>Цена: 61 800 руб</span>
						+e.discount
							+e.discount-text СКИДКА ДО 30%

							+e('a').discount-button(href='#') КАК ПОЛУЧИТЬ

					+e.content#tab-4
						+e.photo
							+e('img')(src='assets/images/content/schedule-photo.jpg' alt='')
							+e.badge отдохнуло 50 000 детей
							+e.photo-caption
								+e('h2').photo-title Научно приключенческий лагерь <span>"Океания"</span>
						+e.price
							+e.price-row
								+e.price-col <span>23 июня - 13 июля</span>
								+e.price-col <span>Цена: 61 800 руб</span>
							+e.price-row
								+e.price-col <span>15 июля - 4 августа</span>
								+e.price-col <span>Цена: 61 800 руб</span>
							+e.price-row
								+e.price-col <span>6 августа - 26 августа</span>
								+e.price-col <span>Цена: 61 800 руб</span>
						+e.discount
							+e.discount-text СКИДКА ДО 30%

							+e('a').discount-button(href='#') КАК ПОЛУЧИТЬ

					+e.content#tab-5
						+e.photo
							+e('img')(src='assets/images/content/schedule-photo.jpg' alt='')
							+e.badge отдохнуло 50 000 детей
							+e.photo-caption
								+e('h2').photo-title Научно приключенческий лагерь <span>"Океания"</span>
						+e.price
							+e.price-row
								+e.price-col <span>23 июня - 13 июля</span>
								+e.price-col <span>Цена: 61 800 руб</span>
							+e.price-row
								+e.price-col <span>15 июля - 4 августа</span>
								+e.price-col <span>Цена: 61 800 руб</span>
							+e.price-row
								+e.price-col <span>6 августа - 26 августа</span>
								+e.price-col <span>Цена: 61 800 руб</span>
						+e.discount
							+e.discount-text СКИДКА ДО 30%

							+e('a').discount-button(href='#') КАК ПОЛУЧИТЬ

					+e.content#tab-6
						+e.photo
							+e('img')(src='assets/images/content/schedule-photo.jpg' alt='')
							+e.badge отдохнуло 50 000 детей
							+e.photo-caption
								+e('h2').photo-title Научно приключенческий лагерь <span>"Океания"</span>
						+e.price
							+e.price-row
								+e.price-col <span>23 июня - 13 июля</span>
								+e.price-col <span>Цена: 61 800 руб</span>
							+e.price-row
								+e.price-col <span>15 июля - 4 августа</span>
								+e.price-col <span>Цена: 61 800 руб</span>
							+e.price-row
								+e.price-col <span>6 августа - 26 августа</span>
								+e.price-col <span>Цена: 61 800 руб</span>
						+e.discount
							+e.discount-text СКИДКА ДО 30%

							+e('a').discount-button(href='#') КАК ПОЛУЧИТЬ




