.achievements
	&__in
		position relative
		padding-top 50px
		@extend .in
		background-color #fff
		clearfix()
	&__w-w
		background-color #e5f4ff
		clearfix()
	&__w
		padding-top 50px
		float left
		width 418px
		width remify(418px)
		min-height 424px
		background-color #e5f4ff
	&__age
		margin-bottom 10px
		padding-left 90px
		text-align left
		font-calibri()
		set-font-size(33px)
		font-style italic
		line-height 1
		color #005393
		span
			font-size 45px
			font-weight 700
			font-style italic
			color #ffa200
	&__text
		padding-left 90px
		text-align left
		color #005393
		font-weight 300
		font-calibri()
		set-font-size(30px)
		line-height 33px
		line-height remify(33px)
		letter-spacing tracking(50)
		span
			display block
			color #ffa200
			font-weight 700
			text-transform uppercase
			letter-spacing normal
	&__photo
		float right
		size 578px 425px
		width remify(578px)
		height remify(425px)
		img
			min-width 100%
			height 100%
.badge
	&_achiev
		position relative
		left -7px
		margin -13px auto
		margin-bottom 48px
		bg($badge-achiev)
		text-indent -9999px
