mixin achievements()
	+b.achievements&attributes(attributes)
		+e.in
			+e.w-w
				+e.w
					+b.badge._achiev 300 детей 100 педагогов
					+e.age с <span>7</span> до <span>18</span> лет
					+e.text в курортной зоне <span>на Черном море</span>
				+e.photo
					+e('img')(src='assets/images/content/achievement-photo.jpg')
