body
	background #004F94 url('../images/general/bg.jpg') 50% 0 repeat-x
	font-calibri()


.in
	position relative
	margin auto
	width 1000px
	border 1px solid #40749f
	border-width 0 1px
	box-shadow 0.6px 0.8px 4px rgba(0, 0, 0, 0.75)
// .page
	// &__wrapper

img
	display block



