// Mixins.

m-nl()
	margin 0
	padding 0
	text-indent 0
	list-style none
	list-style-position outside

m-cf()
	&:before, &:after
		display table
		content ""

	&:after
		clear both

	.lt-ie8 &
		zoom 1


m-blocks-justify()
	text-align justify
	text-justify newspaper


// You can add your own mixins here:


// Clear the float on any element.
clearfix()
	&:after
		display table
		clear both
		content ''

// Fix no working `-webkit-text-size-adjust: 100%;` in Android.
fix-text-size-adjust()
	background-image linear-gradient(transparent, transparent)

// Set element size
size($width, $height = $width)
	width $width
	height $height

// Set margin on left & right
margin-x($margin)
	margin-left $margin
	margin-right $margin

// Set margin on top & bottom
margin-y($margin)
	margin-top $margin
	margin-bottom $margin

// Set pading on left & right
padding-x($padding)
	padding-left $padding
	padding-right $padding

// Set padding on top & bottom
padding-y($padding)
	padding-top $padding
	padding-bottom $padding

// Set one static retina image
retinaBackground($image, $ext = 'png') {
	background-image url('../images/' + $image + '.' + $ext)

	@media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
		background-image url('../images/' + $image + '@2x.' + $ext)
	}
}

set-font-size(value) {
	font-size: value; /* add PX (or original value) as backup */

	if (value is inherit) {
		/* do nothing, "inherit" has no unit */
	} else {
		font-size: remify(value);
	}
}

remify(value) { /* separate mixin, so it can be used elsewhere */
	u = unit(value);

	if (u is 'px') {
		return unit(value/16, 'rem');
	} else {
		return unit(value, u);
	}
}

font-calibri()
	font-family Calibri, Candara, Segoe, 'Segoe UI', Optima, Arial, serif


tracking($val, $base = false)
	if $base
		( ( $val * $base ) / 1000 ) px
	else
		( $val / 1000 ) em

