mixin features()
	+b.features&attributes(attributes)
		+e.in
			+e('h2').title В программе смены
			+e('ul').list
				+e('li').item
					+e.item-icon._1
					+e.item-title Купание
					+e.item-text плавание и подводное плавание <br/>(погружение с аквалангом)
				+e('li').item
					+e.item-icon._2
					+e.item-title Высотная подготовка
					+e.item-text Альпинизм, скалолазание, <br/>высотный парк
				+e('li').item
					+e.item-icon._3
					+e.item-title Морская практика
					+e.item-text Морская и парусная практика <br/>(яхта, моторная лодка и <br/>байдарки)
				+e('li').item
					+e.item-icon._4
					+e.item-title Естественные науки
					+e.item-text Биология, экология, микробиология, <br/>генетика, химия, астрономия и проч.
				+e('li').item
					+e.item-icon._5
					+e.item-title Спорт и праздники
					+e.item-text Спортивные праздники, дневные <br/>и ночные походы, вечерние <br/>мероприятия, балы
				+e('li').item
					+e.item-icon._6
					+e.item-title Ремесла и творчество
					+e.item-text Гончарная, керамическая и <br/>стекольная студии, <br/>мыловарение и свечеварение


