.features
	&__in
		padding-top 32px
		padding-bottom 31px
		@extend .in
	&__title
		margin-bottom 17px
		color white
		font-calibri()
		set-font-size(33px)
		font-weight 400
		line-height 33px
		line-height remify(33px)
		text-transform uppercase
		text-align center
	&__list
		font-size 0

	&__item
		margin-bottom 2px
		margin-left 20px
		width 310px
		display inline-block
		vertical-align top
		text-align center
	&__item-icon
		position relative
		margin 0 auto 8px
		&_1
			right 0
			bg($feature-1)
		&_2
			left 0
			bg($feature-2)
		&_3
			right 0x
			bg($feature-3)
		&_4
			top 1px
			right 7px
			bg($feature-4)
		&_5
			top 1px
			left 0
			bg($feature-5)
		&_6
			top 1px
			right 0
			bg($feature-6)
	&__item-title
		color white
		font-calibri()
		set-font-size(20px)
		line-height 33px
		line-height remify(33px)
		font-weight 700
	&__item-text
		color white
		font-calibri()
		font-size 19px
		set-font-size(19px)
		line-height 33px
		line-height remify(33px)
		font-weight 300



