.questions
	margin-bottom 72px
	&__in
		padding-top 43px
		padding-bottom 45px
		@extend .in
		background-color #fff
		border-radius 0 0 12px 12px
		text-align center
	&__title
		margin-bottom 14px
		set-font-size(25px)
		font-weight 400
		color #005393
		text-transform uppercase
		text-align center
	&__form
		display inline-block
	&__input
		margin-left 25px
		padding-left 10px
		size 239px 38px
		border 2px solid #005393
		display inline-block
		vertical-align top
		color #005393
		set-font-size(13px)
		font-weight 400
		&:first-child
			margin-left 0
	&__submit
		border none
		margin-left 23px
		padding-top 9px
		padding-left 80px
		padding-right 80px
		padding-bottom 9px
		display inline-block
		vertical-align top
		background-color #ffa200
		set-font-size(15px)
		font-weight 700
		text-transform uppercase
