.header
	height 183px
	height remify(183px)
	&__in
		padding-top 27px
		padding-bottom 44px
		@extend .in
		clearfix()
		border none
		box-shadow none
.logo
	margin-left 19px
	text-indent -9999px
	float left
	bg($logo)
.phone
	margin-top 40px
	margin-right 18px
	float right
	font-calibri()
	set-font-size(14px)
	font-weight 400
	text-shadow 2.3px 3.3px 4px white
	color #005393
	line-height 20px
	text-align right
	letter-spacing tracking(20)
	&__number
		margin-bottom 5px
		set-font-size(30px)
		font-weight 700

