mixin header()
	+b.header&attributes(attributes)
		+e.in
			+b.logo Уникальный Детский лагерь на Черном море
			+b.phone
				+e.number 8 (988) 288-22-20
				+e.text Москва, Новая площадь, д. 8 оф. 411

