mixin hero()
	+b.hero&attributes(attributes)
		+e.in
			+e.w
				+b.badge._years нам 20 лет
				+e.age с <span>7</span> до <span>18</span> лет
				+e.text в курортной зоне <span>на Черном море</span>
			+e.photo
				+e('img')(src='assets/images/content/hero-photo.jpg' alt='')

